* {
  touch-action: manipulation;
}

#pagesquasher {
  width: 100%;
}

#topbanner {
  height: 150px;
}

#topbanner #logo {
  width: 400px;
  height: 100px;
}

#topbanner p {
  font-size: 30px;
}

#topbanner h2 {
  font-size: 40px;
}

#bannerspacing {
  height: 150px;
}

#completiongrid,
#completiongridbonus {
  position: absolute;

  top: 50px;
}

#completiongridbonus {
  left: 50%;
  transform: translateX(-50%);
}

#completiongrid table td,
#completiongridbonus table td {
  width: calc(100vw / 7);
  height: calc(100vw / 7);

  font-size: 50px;
}

#miscicons {
  left: 0;

  width: 100vw;
  height: 150px;

  align-items: center;

  display: block;
}

#info {
  position: fixed;
  width: 100px;
  height: 100px;

  left: 0;
  top: 25px;
}

#help {
  position: fixed;
  width: 100px;
  height: 100px;

  right: 0;
  top: 25px;
}

#pagesquasher {
  height: calc(100% - 150px);
  top: calc(50% + 70px);
}

#dayguesses {
  width: 100%;
}

#dayguesses > table {
  width: 100%;
}

#dayguesses > table td {
  height: 75px;

  font-size: 45px;
}

#guessbar > div {
  display: block;
  width: 100%;
}

#guessbar > div > input {
  width: 90%;
  height: 100px;

  display: flex;

  justify-self: center;

  font-size: 50px;
}

#guessbar > div > div {
  margin-top: 50px;
  width: 100%;

  flex-direction: row;
  justify-content: center;
}

#guessbar button {
  width: 400px;
  height: 100px;

  padding: 1px;

  margin: 10px;

  font-size: 40px;
}

#guessbar #seeresponsehistory {
  font-size: 35px;

  margin-top: 10px;
}

#objectcluemenu {
  width: 100%;
  height: 70%;

  padding-top: 120px;
  padding-bottom: 120px;

  top: 50%;
  left: 50%;

  box-sizing: border-box;
}

#objectcluemenu.visible {
  transform: translate(-50%, -50%);
}

#objectcluemenu table {
  width: 95%;
}

#objectcluemenu table td {
  height: 25px;

  font-size: 50px;
}

#objectcluemenu .arrow {
  width: 100px;
  height: 100px;
}

#objectcluemenu h2 {
  font-size: 50px;
  bottom: 1%;
}

#objectcluemenu #category {
  font-size: 50px;
}

#objectcluemenu #objectcluemenuclose {
  width: 100px;
  height: 100px;
}

#countdownmenu,
#infomenu,
#weekcompletemenu,
#infomenupage2,
#calendarpopup,
#lastweekanswers {
  width: 100%;
  height: 70%;

  max-height: none;

  top: 50%;
  left: 50%;

  box-sizing: border-box;
}

#countdownmenu h1,
#infomenu h1,
#weekcompletemenu h1,
#infomenupage2 h1,
#lastweekanswers h1 {
  font-family: "Lexend Deca", monospace;
  color: white;

  font-size: 55px;
  font-weight: 500;

  font-variant-numeric: tabular-nums;

  text-align: center;

  margin: 0%;
}

#infomenu h1 {
  font-size: 75px;
}

#countdownmenu h2,
#infomenu h2,
#weekcompletemenu h2,
#infomenupage2 h2,
#calendarpopup h2,
#lastweekanswers h2 {
  font-size: 35px;
}

#countdownmenu #countdown {
  font-size: 175px;
}

#exitbutton {
  width: 100px;
  height: 100px;
}

#countdownmenu table {
  padding-top: 25px;
  width: 100%;

  font-family: "Lexend Deca";
  color: #b7c5cc;

  text-align: center;
}

#countdownmenu table td {
  font-size: 100px;
}

#countdownmenu table th {
  font-size: 30px;
}

.share {
  background-color: rgb(47, 138, 47);

  color: rgb(255, 255, 255);
  font-family: "Lexend Deca";

  padding: 40px;

  display: flex;
  flex-direction: row;

  align-items: center;

  position: fixed;

  bottom: 5%;
}

.share > h3 {
  font-size: 50px;

  margin: 10px;

  margin-left: 10px;
  margin-right: 10px;

  user-select: none;
}

.share > img {
  width: 80px;
  height: 80px;

  user-select: none;
}

#weekresponses {
  box-sizing: border-box;

  width: 100%;
}

#weekresponses #dayofweekindicator table {
  font-size: 45px;
}

#weekresponses #dayofweekindicator table td {
  height: 100px;
  width: 100px;

  font-size: 45px;
}

#weekresponses #dateselectbar img {
  margin: 20px;

  height: 100px;
  width: 100px;
}

#weekresponses #dateselectbar #calendarbutton {
  margin-left: 70px;
}

#weekresponses #dateselectbar > h1 {
  font-size: 50px;
}

#calendarpopup #backarrow {
  width: 100px;
}

#calendarpopup #forwardarrow {
  width: 100px;
}

#calendarpopup #calendar table td {
  font-size: 45px;
}

#calendarpopup #calendar table {
  width: 95%;
}

#calendarpopup #dateselectbar select {
  width: 300px;
  height: 100px;

  font-size: 45px;
}

#calendardate {
  font-size: 100px;
}
